.main_header {
  width: 100vw;
  height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
  margin-top: 3rem;
}

.main_header-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  gap: 6rem;
}

h1 {
  text-shadow: 1px 1px 3px var(--color-secondary);
  opacity: 0.7;
  line-height: 3.5rem;
}

.main_header p {
  color: var(--color-gray-300);
}

.main_header-left {
  margin-top: -3rem;
}

.main_header-left h4 {
  margin-bottom: 1rem;
  color: var(--color-gray-300);
  font-weight: 600;
}

.main_header-left p {
  margin: 1rem 0 3.5rem;
  font-size: 1.1rem;
}

.main_header-right {
  display: grid;
  place-items: center;
  position: relative;
}

.main_header-circle {
  width: 25rem;
  height: 25rem;
  background: linear-gradient(75deg, var(--color-secondary), transparent);
  border-radius: 50%;
  position: absolute;
  filter: blur(3px);
}

.main_header-image {
  position: relative;
  
}

/* PROGRAMS */

.programs {
  margin-top: 1rem;
}

.programs_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 3rem;
}

.programs_program a {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* VALUES */

.values_container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 38% 50%;
  gap: 12%;
}

.values_image {
  margin-top: 3rem;
  filter: saturate(0.25);
  transition: var(--transition);
}

.values_image:hover {
  filter: saturate(1);
}

.values_right > p {
  margin: 1.5rem 0 5rem;
  color: var(--color-gray-300);
}

.values_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem 2rem;
}

.card.values_value {
  padding-top: 3rem;
  text-align: left;
  position: relative;
}

/* FAQs */
.faq {
  display: flex;
  cursor: pointer;
}
.faqs_container {
  margin-top: 2rem;
}

.faq_card {
  width: 100%;
}
.faqs_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 1.5rem 4rem;
  margin-top: 3rem;
}

.faq_icon {
  background: transparent;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 1.5rem;
}

.faq p {
  margin-top: 1rem;
}

/* TESTIMONIALS */

.testimonials {
  width: 50rem;
  margin-inline: auto;
}

.testimonials_container {
  width: 100%;
}

.testimonials_head {
  justify-content: center;
  align-items: center;
  margin: 2rem 0 3rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}

.testimonials_avatar {
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonials_quote {
  margin: 1rem 0 2rem;
}

small {
  font-size: 1.1rem;
}

.testimonials_btn-container {
  width: fit-content;
  margin: 2.5rem auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.testimonials_btn {
  background: transparent;
  cursor: pointer;
}

.testimonials_btn svg {
  font-size: 1.6rem;
  width: 2rem;
  height: 2rem;
}

/* FOOTER */

footer {
  background: rgba(0, 0, 0, 0.952);
  margin-top: 5rem;
  padding-top: 5rem;
  font-size: 0.9rem;
}

h4 {
  color: var(--color-secondary);
  font-size: 1.5rem;
}

p {
  color: var(--color-primary);
}

.footer_container {
  display: grid;
  grid-template-columns: 26rem 1fr 1fr 1fr;
  gap: 5rem;
}

.footer_container article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.footer_container article p {
  margin-top: 0.5rem;
}

.footer_socials {
  margin-top: 1.2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  
}

.footer_socials a:hover {
  color: var(--color-secondary);
}

.footer_copyright {
  color: var(--color-secondary);
  text-align: center;
  padding: 1.5rem 0;
  border-top: 1px solid var(--color-primary);
  margin-top: 4rem;
  opacity: 0.8;
}




/* MEDIA QUERIES (medium screen )*/

@media screen and (max-width: 980px) {
  /* MAIN HEADER */
  .main_header {
    height: fit-content;
    padding: 12rem 0;
  }

  .main_header-container {
    gap: 0;
  }

  .main_header-circle {
    width: 23rem;
    height: 23rem;
  }


/* PROGRAMS */

.programs {
  margin-top: -8rem;
}

/* Values */

.values_container {
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 2rem;
}

.values_wrapper {
  gap: 4rem 2rem;
}

/* FAQs */

.faqs_wrapper {
  grid-template-columns: 1fr;
}

/* TESTIMONIALS */

.testimonials {
  width: 65%;
  
}

/* FOOTER */

.footer_container {
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.footer_container article {
    align-items: center;
  }

}

/* MEDIA QUERIES (small screen )*/

@media screen and (max-width: 600px) {
  /* MAIN HEADER */

  .main_header {
    margin-top: 0;
    padding: 12rem 2rem;
    height: 100vh;
    line-height: 1.5rem;
  }

  .main_header-image, .main_header-circle {
    width: 16rem;
    height: 16rem;
    margin-top: 3rem;
  }

  .main_header-container {
    grid-template-columns: 1fr;
  }

  /*PROGRAMS*/

  .programs {
    margin-top: 3rem;
  }

  .programs_wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }

  .programs_program {
    width: 85%;
    margin: 0 auto;
  }

  /*VALUES */

  .values {
    margin-top: -12rem;
    padding: 12rem 2rem;
    
    line-height: 1.5rem;
  }

  .values_wrapper {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .card.values_value {
    margin-inline: auto;
  }

  /* FAQs */

  .faq_card h4 {
    line-height: 2rem;
  }

  .faqs {
    margin-top: -10rem;
  }

  .faqs_wrapper {
    gap: 2rem;
    width: 85%;
    margin-inline: auto;
  }

  /* TESTIMONIALS */

  .testimonials {
    width: 91%;
  }

  /* FOOTER */

  footer {
    margin-top: 3rem;
  }

  .footer_container {
    padding: 0 1rem;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  p {
    text-align: center;
    margin-left: 1rem;
  }

  .footer_container article {
    align-items: center;
  }

}
